@charset "UTF-8";
@font-face {
	font-family: "Nanum-Square";
	font-size: "normal";
	src: url("../../font/NanumSquare_acEB.ttf");
}

html, body {
	height: 100%;
}

body {
	font-size: 0px;
	margin: 0px;
	 -ms-overflow-style: none;
	background-image: url('../../images/adminPage/배경화면2.jpg');
	background-size: 100%;
}
 
::-webkit-scrollbar {
  display: none;
}
.top_so {
	width: 100%;
	height: 100px;
	background-color: #FAE6B1;
}
.br {
	font-size: 80pt;
}
.text {
	border: none;
	background: transparent;
	text-align: center;
}

textarea {
	resize: none;
	border: 1px solid #d7d7d7;
	font-family: "Nanum-Square";
	font-size: 13pt;
	border: none;
}

.menu_login_border {
	width: 240px;
	height: 110px;
	margin: 0 auto;
}

.menu_userId_border {
	width: 99%;
	height: 40px;
	margin: 0 auto;
	margin-top: 25px;
	line-height: 40px;
}

.menu_userId2 {
	font-family: "Nanum-Square";
	font-size: 19px;
	text-align: center;
}

.menu_btn_border {
	width: 99%;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;
}

.menuLogoutBtn {
	width: 80px;
	height: 30px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #58C0BC;
	cursor: pointer;
	color: #58C0BC;
	font-weight: bold;
}
.select_bar {
	height: 38px;
	/* width: 500px; */
	text-align: center;
	display: block;
}

.select_1 {
	border-radius: 10px;
	width: 85px;
	height: 30px;
}
.menuLoginBtn {
	display: inline-block;
	width: 80px;
	height: 30px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #58C0BC;
	cursor: pointer;
	color: #58C0BC;
	font-weight: bold;
}

.menuNewAccount {
	display: inline-block;
	width: 80px;
	height: 30px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #58C0BC;
	cursor: pointer;
	color: #58C0BC;
	font-weight: bold;
	margin-right: 28px;
}

.menu_userId {
	display: none;
}

.data {
	display: inline-block;
	vertical-align: top;
	width: 280px;
	/* height: 160px; */
	padding: 33px;
	position: absolute;
	/* top: calc(50% - 140px); */
	/* left: calc(50% - 165px); */
	z-index: 10;
	text-align: center;
	font-size: 21px;
}

.clickBtn {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 20px;
}
#im {
	display: block;
	margin: 0 auto;
	width: 45%;
}
.paging {
	text-align: center;
	font-size: 15px;
}
.poPup {
	display: none;
	vertical-align: top;
	width: 330px;
	height: 120px;
	padding: 15px;
	background-color: #f5f6f7;
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 135px);
	z-index: 10;
	border-radius: 25px;
	opacity: 0.9;
}
.poPup1{
	display: none;
	vertical-align: top;
	width: 330px;
	height: 120px;
	padding: 15px;
	background-color: #f5f6f7;
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 135px);
	z-index: 10;
	border-radius: 25px;
	opacity: 0.9;
}
.poPup2 {
	display: none;
	vertical-align: top;
	width: 330px;
	height: 120px;
	padding: 15px;
	background-color: #f5f6f7;
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 135px);
	z-index: 10;
	border-radius: 25px;
	opacity: 0.9;
}
.poPup3 {
	display: none;
	vertical-align: top;
	width: 330px;
	height: 120px;
	padding: 15px;
	background-color: #f5f6f7;
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 135px);
	z-index: 10;
	border-radius: 25px;
	opacity: 0.9;
}
.poPup4{
	display: none;
	vertical-align: top;
	width: 330px;
	height: 120px;
	padding: 15px;
	background-color: #f5f6f7;
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 135px);
	z-index: 10;
	border-radius: 25px;
	opacity: 0.9;
}

.poPup5 {
	display: none;
	vertical-align: top;
	width: 330px;
	height: 120px;
	padding: 15px;
	background-color: #f5f6f7;
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 135px);
	z-index: 10;
	border-radius: 25px;
	opacity: 0.9;
}
.poPup6 {
	display: none;
	vertical-align: top;
	width: 330px;
	height: 120px;
	padding: 15px;
	background-color: #f5f6f7;
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 135px);
	z-index: 10;
	border-radius: 25px;
	opacity: 0.9;
}
.poPup7 {
	display: none;
	vertical-align: top;
	width: 330px;
	height: 120px;
	padding: 15px;
	background-color: #f5f6f7;
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 135px);
	z-index: 10;
	border-radius: 25px;
	opacity: 0.9;
}
.nav {
	text-align: left;
	font-size: 20px;
	margin-left: 10%;
}
.btn_one {
	margin-top: 5px;
	margin-bottom: 5px;
}
.big_rap {
	width: 100%;
	height: 100%;
	/* background-color: #000; */
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	/* opacity: 0.1;  */ /* 투명도 (투명)0.0 ~ 1.0(불투명)  단, 하위도 모두적용 */
}
/* .dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
	height: 65px;
	width: 200px;
} */
.del {
	border: 0px;
	color: white;
	font-size: 10pt;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	cursor: pointer;
	background-color: #6799FF;
	margin-top: 20px;
}
.delef{
	border: 0px;
	color: white;
	font-size: 10pt;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	cursor: pointer;
	background-color: #6799FF;
	margin-top: 20px;
}
.delseffect{
	border: 0px;
	color: white;
	font-size: 10pt;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	cursor: pointer;
	background-color: #6799FF;
	margin-top: 20px;
}
.maindel{
	border: 0px;
	color: white;
	font-size: 10pt;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	cursor: pointer;
	background-color: #6799FF;
	margin-top: 20px;
}
.reg {
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.regsujeong {
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
}
.regmeef {
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.regmesef {
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.regsef{
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.regtake{
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.reguser{
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
}
.regseffect{
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.mainreg{
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: 20px;
}
.regpl {
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	margin-right: 5px;
	cursor: pointer;
	margin-top: 20px;
}
th {
	border-top: 2px solid #A7A49A;
	border-bottom: 2px solid #A7A49A;
	border-right: 2px solid #A7A49A;
	height: 50px;
	text-align: center;
	font-family: "Nanum-Square";
	font-size: 13pt;
	background-color: #e8e7e3;
}

td {
	height: 50px;
	text-align: center;
	font-family: "Nanum-Square";
	font-size: 13pt;
	border-right: 2px solid #A7A49A;
	border-bottom: 2px solid #A7A49A;
	border-top: 2px solid #A7A49A;
	background-color: white;
}
.t {
	margin-left: 10%;
	display: inline-table;
	vertical-align: top;
	text-align: center;
	width: 90%;
	border-collapse: collapse;
	box-shadow: 5px 5px 5px 5px grey;
	border: 2px rgba(0, 0, 0, 0.2) solid;
	background-color: white;
	opacity: 0.9;
}
.menu {
	display: inline-block;
	width: 54px;
	height: 50px;
	cursor: pointer;
	background-image: url("../../images/adminPage/logo.png");
	background-size: 50px;
	background-repeat: no-repeat;
	margin: 28px 0px 0px 0px;
	margin-left: 39.5%;
}
#bottom {
	padding-bottom: 0.5%;
	text-align: center;
	width: 92%;
	height: 100%;
}
.logo2 {
	vertical-align: top;
	cursor: pointer;
	margin-top: 30px;
	display: inline-block;
	width: 90px;
	height: 90px;
	background-image: url("../../images/adminPage/logo.png");
	background-size: 90px;
	background-repeat: no-repeat;
}

.bar {
	position: fixed;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	border-right: 1px solid #ddd;
	height: 100%;
	text-align: center;
	width: 260px;
	box-shadow: 0px 2px 2px #f1f1f1;
	/* border-top-right-radius: 30px; */
	border-bottom-right-radius: 30px;
}

.wrap {
	height: 240px;
	background-color: #D5D5D5;
	/* border-top-right-radius: 30px; */
}


.right_wrap {
	margin-left: 13%;
	vertical-align: top;
	width: calc(100% - 261px);
	height: 86%;
}

.top_header {
	height: 100px;
}

.homepage_name {
	height: 30px;
	text-align: center;
	position: relative;
	width: 50%;
	font-size: 30px;
	margin-left: 24%;
	line-height: 26px;
	margin-top: -40px;
	font-family: "Nanum-Square";
}
.elements:hover{
   color:#58C0BC;
}
.hel-elements:hover{
   color:#58C0BC;
}
.drop-elements:hover{
   color:#58C0BC;
}

.element{
   font-size: 20px;
   margin: 0 auto;
    width: 240px;
    padding: 13px 0;
    text-align:center;
    font-family: "Nanum-Square";
}
.elements{
   line-height:20px;
   font-size: 20px;
   margin-top: 80px;
   cursor: pointer;
   position: relative;
} 
.hel-elements{
   margin-top: 50px;
   line-height:20px;
   font-size: 20px;
   cursor: pointer;
   position: static;
   color: black;
   position: static;
} 

.drop-elements{
   font-size: 20px;
   margin-top: 30px;
   cursor: pointer;
   position: relative;
   color: black;
   height: 40px;
}

#dropdown {
   position: relative;
   display: inline-block;
   width: 240px;
   height: 55px;
   z-index: 10;
}
#dropdown1 {
   position: relative;
   display: inline-block;
   width: 240px;
   height: 55px;
   z-index: 10;
}

.dropdown-content {
   display: none; 
   background-color: #f1f1f1;
   min-width: 218px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

#dropdown:hover .dropdown-content {
   display: inline-block;
}
#dropdown1:hover .dropdown-content {
   display: inline-block;
}


