@charset "UTF-8";

@font-face{
   font-family: "Nanum-Square";
   font-size:"normal";
   src: url("../../font/NanumSquare_acEB.ttf");
}
@font-face{
   font-family: "Nanum-SquareR";
   font-size:"normal";
   src: url("../../font/NanumSquare_acR.ttf");
}

body {
	font-size: 0px;
	margin: 0px;
	/*background-color: #B3DEE5;*/
}

.menu {
	display: inline-block;
	width: 54px;
	height: 50px;
	margin: 25px 20px 0px 25px;
	cursor: pointer;
	background: url(../../images/common/menu_bar.png) no-repeat;
	background-position: 0 0;
}

.logo {
	vertical-align: top;
	cursor: pointer;
	margin: 28px 0px 0px 0px;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-image: url(../../images/common/logo.png);
	background-size: 50px;
	background-repeat: no-repeat;
	position: absolute;
	left: 39.5%;
}

.logo2 {
	vertical-align: top;
	cursor: pointer;
	margin-top: 30px;
	display: inline-block;
	width: 90px;
	height: 90px;
	background-image: url('../../images/common/logo.png');
	background-size: 90px;
	background-repeat: no-repeat;
}

.bar {
	background-color: #fff;
	/*border-right: 1px solid #ddd;*/
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	transition-duration: .3s;
	transition-timing-function: ease-in;
	width: 260px;
	z-index: 10000;
	margin-left: -300px;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
}

.wrap {
	height: 239px;
	background-color: #F6F6F6;
	border-bottom: 1px solid #D5D5D5;
}

.element {
	font-size: 20px;
	margin: 0 auto;
	width: 240px;
	padding: 13px 0;
	text-align: center;
	font-family: "Nanum-Square";
}

.elements {
	line-height: 20px;
	font-size: 20px;
	margin-top: 60px;
	cursor: pointer;
	position: relative;
}

.elements>div {
	display: none;
}

.elements:hover {
	/*color:#F26A4B;*/
	color: #58C0BC;
}

.elements:hover span {
	visibility: visible;
}

.top_header {
	/*background-color: #EAEAEC;*/
	height: 100px;
}

.homepage_name {
	height: 30px;
	text-align: center;
	position: relative;
	width: 50%;
	font-size: 30px;
	margin-left: 24%;
	line-height: 26px;
	margin-top: -40px;
	font-family: "Nanum-Square";
	cursor:pointer;
}

.login_border {
	display: inline-block;
	position: relative;
	width: 400px;
	height: 85px;
	border: 1px solid black;
	float: right;
	margin-top: -52px;
	margin-right: 15px;
	border-radius: 10px;
	overflow: hidden;
	font-weight: bold;
}

.userId_border {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 50px;
}

.userId {
	display: inline-block;
	border: 0px;
	width: 396px;
	background-color: #FAE6B1;
	height: 36px;
	text-align: center;
	font-family: "Nanum-Square";
	font-size: 18px;
	margin-top: 13px;
	font-weight: bold;
}

.logOut_border {
	display: inline-block;
	position: relative;
	width: 111px;
	height: 37px;
	float: right;
}

.logoutBtn {
	width: 111px;
	height: 37px;
	text-align: center;
	margin-top: -2px;
	/*
    border: 1px solid black;
    background-color: #FFA101;*/
	border-right: 0px;
	background-image: url(../../images/common/logoutBtn.png);
	background-color: #FAE6B1;
	background-repeat: no-repeat;
	background-position-x: 0px;
	border: 0px;
	cursor: pointer;
}

.menu_login_border {
	width: 240px;
	height: 110px;
	margin: 0 auto;
}

.menu_userId_border {
	width: 99%;
	height: 40px;
	margin: 0 auto;
	margin-top: 25px;
	line-height: 40px;
}

.menu_userId {
	font-family: "Nanum-Square";
	font-size: 17px;
	text-align: center;
}

.menu_userId2 {
	display: hidden;
}

.menu_btn_border {
	width: 99%;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;
}

.menuLogoutBtn {
	width: 80px;
	height: 30px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #58C0BC;
	cursor: pointer;
	color: #58C0BC;
	font-weight: bold;
}

.menuLoginBtn {
	display: inline-block;
	width: 80px;
	height: 30px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #58C0BC;
	cursor: pointer;
	color: #58C0BC;
	font-weight: bold;
}

.menuNewAccount {
	display: inline-block;
	width: 80px;
	height: 30px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #58C0BC;
	cursor: pointer;
	color: #58C0BC;
	font-weight: bold;
	float: right;
	margin-right: 28px;
}

.bar_left, .bar_right {
	width: 30px;
	height: 1px;
	position: absolute;
	color: #F26A4B;
	background-color: #58C0BC;
	display: inline-block;
}

.bar_left {
	visibility: hidden;
	top: 8px;
	left: 33px;
}

.bar_right {
	visibility: hidden;
	top: 8px;
	right: 34px;
}

.blueBtn {
	background-color: #6799FF;
	border:0px;
	border-radius: 10px;
}
.grayBtn{
	background-color: #8C8C8C;
	border:0px;
	border-radius: 10px;
}
