@charset "UTF-8";

#bottom {
	display:inline-block;
	vertical-align: top;
    margin-right: 130px;
}
.t {
   margin-top: 10px;
   margin-bottom: 20px;
}
body{
	height: 98%;
}


thead{
	background-color: #e8e7e3;
	border-top: 2px solid #A7A49A;
	border-bottom: 2px solid #A7A49A;
	text-align: center;
	font-family: "Nanum-Square";
	font-size: 13pt;
}
th{
	height: 40px;
	border-right: 0px;
}
td{
	height: 40px;
	border-right: 0px;
	background-color: #00ff0000;
}
tbody tr:hover {
	background-color: #DCDCDC;
}

tbody th{
	background-color: #00ff0000;
}

.select_bar {
	position: relative;
}

.text {
	border-radius: 10px;
	width: 300px;
	height: 24px;
	background-color: white;
	border:1px solid black;
}

.serbtn {
	display: inline-block;
	position: absolute;
	width: 56px;
	height: 26px;
	margin-left: 5px;
	margin-top: 1px;
	
	background-color: #6799FF;
	font-size: 10pt;
	border: 0px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

.del, .reg {
	margin-top: 0px;
}

.btn_one {
	margin-bottom: 0px;
}

.next_one {
	margin-bottom: -1.2px;
}

.next_two {
	margin-bottom: -1.4px;
}

.clickBtn {
	float: right;
}

.Yes {	
	border: 0px;
	color: white;
	font-size: 10pt;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	cursor: pointer;
	background-color: #6799FF;
}

.No {
	border: 0px;
	color: white;
	font-size: 10pt;
	border-radius: 10px;
	float: right;
	height: 30px;
	width: 65px;
	cursor: pointer;
	background-color: #6799FF;
}

.paging{
	margin-left: 6%;
}
.menu_userId2{
	font-size: 15pt;
}